@font-face {
  font-family: 'Geist';
  src: url('/assets/fonts/geist-sans/GeistVF.woff2') format('woff2'),
    url('/assets/fonts/geist-sans/GeistVF.woff') format('woff');
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/assets/fonts/geist-mono/GeistMonoVF.woff2') format('woff2'),
    url('/assets/fonts/geist-mono/GeistMonoVF.woff') format('woff');
}
