@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.icon {
  height: 1rem;
  width: 1rem;
  filter: invert(1);
}
