@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --toastify-color-progress-dark: #ffffff25;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
